In [134]:
# Import libraries
import pandas as pd 
import numpy as np


#Import plotly
import plotly
plotly.tools.set_credentials_file(username='lemonning', api_key='2VKqv1eNedEuXIqUrKF9')
from plotly import tools
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.grid_objs import Grid, Column
import plotly.figure_factory as ff
from plotly.tools import FigureFactory as FF 
import time
import colorlover as cl

In [140]:
# Importr data
data = pd.read_csv("ScholarshipApplicationDataFilePretend2.csv") 
data.head()

print("The dataframe has", data.shape[0], "rows, and", data.shape[1], "columns.")

The dataframe has 380 rows, and 13 columns.

In [20]:
# Describe data
#data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 12 columns):
ID                          381 non-null int64
OfferOfAdmissionExtended    381 non-null object
GPA                         381 non-null float64
GRE                         377 non-null float64
TOEFL                       129 non-null float64
Major                       381 non-null object
CollegeRegion               381 non-null object
CollegeName                 381 non-null object
State                       225 non-null object
Dom_Int                     381 non-null object
Matriculating               381 non-null object
Gender                      381 non-null object
dtypes: float64(3), int64(1), object(8)
memory usage: 35.8+ KB

In [34]:
# Check groupby counts (drop the first column)
data.iloc[:, 1:5].groupby("OfferOfAdmissionExtended").mean()

                               GPA         GRE       TOEFL
OfferOfAdmissionExtended
NO                        3.304071  165.267857  101.218182
YES                       3.630299  167.309434  106.013514

In [32]:
data.iloc[:, 1:3]

    OfferOfAdmissionExtended   GPA
0                        YES  3.34
1                        YES  3.65
2                        YES  3.79
3                        YES  3.77
4                        YES  3.91
5                        YES  3.57
6                        YES  3.69
7                        YES  3.67
8                        YES  3.31
9                        YES  3.94
10                       YES  3.84
11                       YES  3.79
12                       YES  3.97
13                       YES  3.79
14                       YES  3.58
15                       YES  3.80
16                       YES  3.24
17                       YES  4.00
18                       YES  3.93
19                       YES  3.43
20                       YES  3.45
21                       YES  3.71
22                       YES  3.80
23                       YES  3.77
24                       YES  3.03
25                       YES  3.49
26                       YES  3.88
27                       YES  3.67
28                       YES  3.65
29                       YES  3.71
..                       ...   ...
351                       NO  3.48
352                       NO  3.02
353                       NO  3.04
354                       NO  3.36
355                       NO  3.15
356                       NO  3.59
357                       NO  3.78
358                       NO  3.54
359                       NO  3.48
360                       NO  2.98
361                       NO  3.37
362                       NO  3.54
363                       NO  2.75
364                       NO  3.31
365                       NO  3.84
366                       NO  3.36
367                       NO  3.66
368                       NO  3.63
369                       NO  2.83
370                       NO  3.33
371                       NO  3.21
372                       NO  2.90
373                       NO  3.64
374                       NO  3.75
375                       NO  3.49
376                       NO  3.14
377                       NO  2.58
378                       NO  3.66
379                       NO  3.19
380                       NO  3.36

[381 rows x 2 columns]

In [131]:
# Density plot for 2 groups
x0 = data[data["OfferOfAdmissionExtended"] == "YES"]["GPA"]
x1 = data[data["OfferOfAdmissionExtended"] == "NO"]["GPA"]

trace1 = go.Histogram(
    x=x0,
    opacity=0.75,
    name = 'Offer Of Admission Extended',
    text = "mean GPA: " + str(round(x0.mean(),2))
)
trace2 = go.Histogram(
    x=x1,
    opacity=0.75,
    name = "No",
    text = "mean GPA: " + str(round(x1.mean(),2))
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='overlay',
    title='GPA VS. Acceptance',
    xaxis=dict(
        range=[2.3, 4.4]
    ),
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='overlaid histogram')

In [141]:
# Fill na values with mean
data["GRE"] = data["GRE"].fillna(data["GRE"].mean())

In [126]:
# 2 dimension density plot
import plotly.plotly as py
import plotly.figure_factory as ff
plotly.tools.set_credentials_file(username='lemonning', api_key='2VKqv1eNedEuXIqUrKF9')
import colorlover as cl

import numpy as np

x = data["GRE"]
y = data["GPA"]

colorscale = ['#7A4579', '#D56073', 'rgb(236,158,105)', (1, 1, 0.2), (0.98,0.98,0.98)]
#colorscale = cl.scales['8']['div']['RdYlBu']

fig = ff.create_2d_density(
    x, y, colorscale=colorscale,
    hist_color='rgb(255, 237, 222)', point_size=3
)
layout = go.Layout(
    barmode='overlay',
    title='GPA VS. Acceptance',
    xaxis=dict(
        range=[2.3, 4.4]
    ),
)
py.iplot(fig, filename='histogram_subplots')

In [142]:

import plotly.plotly as py
import plotly.figure_factory as ff

import numpy as np

# Add histogram data
x1 = data[data["OfferOfAdmissionExtended"] == "YES"]["GRE"]
x2 = data[data["OfferOfAdmissionExtended"] == "NO"]["GRE"]

# Group data together
hist_data = [x1, x2]

group_labels = ['Offer Extended', 'Offer Not Extended']

# Create distplot with custom bin_size
fig = ff.create_distplot(hist_data, group_labels, bin_size=1)

# Plot!
py.iplot(fig, filename='Distplot with Multiple Datasets2')